body {
    background: linear-gradient(90deg, rgba(0,0,0,1) 25%, rgba(184,12,12,1) 75%);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: red;
}

p {
    font-size: 1.2em;
}

.buttonGeneral {
    background-color: #FFFF;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}